@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: #DF2727;
    --second-color: #821919;
    --text-color: #314862;
    --bg-color:#fff;
    --box-shadow:2px 2px 8px rgb(14 52 54 / 15%);
}


img {
    max-width: 100%;
    height: auto;
}
.img-container {
    text-align: center;
}

body{
    color: var(--text-color);
    
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

    header.shadow{
        background: var(--bg-color);
        box-shadow: 4px 4px 20px rgb( 15 54 55 / 10% );
        transition: 0.5s;
    }

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-family: "Lilita One", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;

}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}   

#search-icon{
    font-size: 24px;
    cursor: pointer;
}

.search-box{
    position:absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb( 15 54 55 / 10% );
    border: 1px solid var(--main-color);
    border-radius: 0.5rem ;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background:transparent;
    font-size: 1rem;
}

.btn{
    padding: 10px 22px;
    background-color: var(--main-color);
    color: var(--bg-color);
}

.btn:hover{
    background: #ee3e3e;
}


.guide.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section.guide {
    padding: 20px;
    margin: 20rem 0;
    background: #fff;

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem 0 2rem 2rem;
}
.img-container {
    text-align: center;
}

.heading {
    margin-bottom: 1rem;
    text-align: center;
}

.heading h1 {
    color: var(--main-color);
    font-size: 2rem;
    margin-bottom: 1rem;

}

.guide .info{
    border: #ddd 1px solid;
    padding: 2rem 5rem 5rem 5rem;
    margin-bottom: 7rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.info h2 {
    color: #0078d7;
    margin-bottom: 2rem;
    font-weight: 700;
}

.info p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.info:hover{
    box-shadow: var(--box-shadow);
    transform: translateY(-10px);
    transition: 0.4s all linear;
}

.info  ul{
text-align: center;
margin-bottom: 2rem;

}

.info ul li{
   margin-bottom: 1rem;
}

.info ul li span{
    font-weight: 700;
    color: var(--main-color);
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.corridas{
    margin: 2rem 2rem 0 0 ;
    width: 20rem;
    height: 40rem;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    display: block;
    flex-direction: row;
    padding: 3rem;
    width: 100%;
}
.corrida{
    position: relative;
    width: 100%;
    margin: auto;
    overflow:inherit
}

.corrida p{
    font-size: 0.938rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.corridas p:hover{
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s linear;
}
.corrida h3{
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.corrida .pista{
    display: none;
}
.pista.mostraCorrida{
    display:block;
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.home{
    display: flex;
}


.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}
.botao {
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  word-break: break-word;
  border: 0;
}

.botao:active,
.botao:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.botao:hover {
    background: #f0435f;
  border-bottom-style: none;
  border-color: #dadada;
}

.quiz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}
    

.footer{
    background: var(--text-color);
    color: #f6f6f6;
    position: bottom;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.social{
    display: flex;
    align-items: center;
}

.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}

.social a:hover{
    color: var(--main-color);
}
.contact span{
    display: flex;
    align-items: center;

}

.contact i{
    font-size: 20px;
    margin-bottom: 1rem;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a, .footer-box p{
    color:#818181;
    margin-bottom: 10px;
}

.footer-box a:hover{
    color: var(--main-color);

}

.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}