@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: #DF2727;
    --second-color: #821919;
    --text-color: #314862;
    --bg-color:#fff;
    --box-shadow:2px 2px 8px rgb(14 52 54 / 15%);
}

section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;}

    header.shadow{
        background: var(--bg-color);
        box-shadow: 4px 4px 20px rgb( 15 54 55 / 10% );
        transition: 0.5s;
    }

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    max-width: 85%
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-family: "Lilita One", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 2rem;

}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
}

.search-box{
    position:absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb( 15 54 55 / 10% );
    border: 1px solid var(--main-color);
    border-radius: 0.5rem ;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background:transparent;
    font-size: 1rem;
}

.btn{
    padding: 10px 22px;
    background-color: var(--main-color);
    color: var(--bg-color);
}

.btn:hover{
    background: #ee3e3e;
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    margin-left: 43px;
}

.home-text{
    padding-left: 130px;

}

.home-text h1{
    font-size: 2.4rem;
}

.home-text span{
    color: var(--main-color);
}

.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}

.heading{
    text-align: center;
    margin-top: 5rem;
}

.heading span{
    font-weight: 700;
    color: var(--main-color);
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}

section.cars{
    margin-top: 2rem;
    height: 100%;
    background: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 0;

}

.cars .heading{
    color: var(--bg-color);
    text-align: center;
    margin-top: 0px;
}

.cars .heading span{
    font-weight: 700;
    color: var(--bg-color);
}
.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.cars-container .box{
    flex: 1 1 15rem;
    position: relative;
    height: 138px;
    width: 262px;
    border-radius: 0.rem;
    overflow: hidden;
}

.cars-container .box img{
    height: 138px;
    width: 262px;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background: var(--main-color);
}
.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}

.cars-container .box:hover h2{
    background: var(--text-color);
    color: var(--bg-color);
}

.guide{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
    
}

.guide-img{
    flex: 1 1 21rem;
}

.guide-text{
    flex: 1 1 21rem;
}

.guide-text span{
    font-weight: 500;
    color: var(--main-color);
}

.guide-text h2{
    font-size: 2rem;
    font-weight: bold;
}

.guide-text .et{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #365F85;
    
}

.guide-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;

}

.ranking{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}
.ranking span{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.ranking h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color);
}


table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

thead {
    background-color: #d32f2f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

th {
    font-weight: 600;
}

tbody tr {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

tbody tr:hover td i {
    color: #b71c1c;
}

td i {
    margin-right: 10px;
    font-size: 1.2em;
    color: #d32f2f;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ranking a{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    
    margin:auto;
    align-content: center;
}

section.quizzes{
    background: url(../img/fundo.png);
    padding: 1rem 0;
    background-repeat: no-repeat;
}

.quizzes .heading a{
    color: var(--main-color);
    text-align: center;
}

.quizzes .heading a:hover{
    font-weight: 700;
    color: var(--second-color);
}

.quiz-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.quiz-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}

.quiz-container .box:hover{
    background: #f6f6f6;
}

.quiz-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);

}

.quiz-container h3{
    font-size: 1.2rem;

}

.quiz-container .box p{
    font-size: 0.938rem;
    margin: 4px 0;
}
.quiz-container .box .quiz-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}

.quiz-container .box .quiz-btn .bx{
    font-size: 20px;
}

.quiz-container .box .quiz-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}

.fe-guide{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
    background: url(../img/imagem_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

.fe-guide .carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 300px;
    width: 350px;
    margin: 0 50px 0 100px;
}

.fe-guide .container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.fe-guide .container img{
    object-fit: cover;
    min-height: 300px;
    min-width: 355px;
}

.fe-guide-text{
    flex: 1 1 21rem;
    color: var(--bg-color);
    margin: 0 130px 0 0;
    text-align: justify;
}

.fe-guide-text span{
    font-weight: 500;
    color: var(--bg-color);
}

.fe-guide-text h2{
    font-size: 2rem;
    font-weight: bold;
}

.fe-guide-text .et{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    color: var(--main-color);
    
}

.guide-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

.footer{
    background: var(--text-color);
    color: #f6f6f6;
    position: bottom;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}

.social{
    display: flex;
    align-items: center;
}

.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}

.social a:hover{
    color: var(--main-color);
}
.contact span{
    display: flex;
    align-items: center;

}

.contact i{
    font-size: 20px;
    margin-bottom: 1rem;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a, .footer-box p{
    color:#818181;
    margin-bottom: 10px;
}

.footer-box a:hover{
    color: var(--main-color);

}

.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}