@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: #EEEDEF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


header .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;

    
}

header .heading .logo {
    font-size: 50px;
    font-weight: 600;
    color: #DF2727;
    font-family: 'Lilita One', sans-serif;
    align-items: center;
    position: fixed;
    margin-top: 50px;
}

.container {
    width: 70%;
    display: flex;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: 130px;
    position: fixed;
}
 .container .box h3{
    color: #DF2727;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
 }


@keyframes Show {
    0%, 49.999% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        opacity: 1;
        z-index: 5;
    }
}

@keyframes Hidden {
    0%, 49.999% {
        opacity: 1;
        z-index: 5;
    }
    100% {
        opacity: 0;
        z-index: 1;
    }
}

.container .box {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
}


.container.active .box {
    transform: translateX(100%);
}

.container .box .form {
    position: absolute;
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container .box .form.sign_up {
    transition: all 1.15s;
    z-index: 1;
    opacity: 0;
    background-color: #fff;
    height: 100%;
}

.container .box .form.sign_in {
    opacity: 1;
    transition: all 1.15s;
    z-index: 5;
    background-color: #fff;
}

.container.active .box .form.sign_in {
    z-index: 1;
    opacity: 0;
}

.container.active .box .form.sign_up {
    z-index: 5;
    opacity: 1;
}

.container .overlay {
    display: flex;
    height: 100%;
    width: 50%;
    transition: all 0.8s;
    transform: translateX(0);
    background-image: url('/Challenge/img/img_login.gif');
    z-index: 1;
    overflow: hidden;
    z-index: 5;
    opacity: 0.938;
}

.container.active .overlay {
    transform: translateX(-100%);
}

.container .overlay .page {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    opacity: 1;
}

.container.active .overlay .page.page_signIn {
    opacity: 0;
    margin-left: -100%;
}

.container.active .overlay .page.page_signUp {
    margin-left: 0%;
}


.overlay .page h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

.overlay .page p {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 17px;
}

.btn {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
    background-color: transparent;
    padding: 12px 45px;
    border-radius: 22px;
    border: 1.5px solid #fff;
    cursor: pointer;
}

.btn.btnSign-in:hover,
.btn.btnSign-up:hover{
    background-color: #fff;
    color: #DF2727;
    transition: 0.4s;
}



.form h3 {
    color: #222;
    font-size: 40px;
}

.form span {
    color: #3a3838;
}

#form_input .type {
    width: 300px;
    height: 40px;
    background-color: #EEEDEF;
    margin: 30px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;

}

#form_input .type input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
}

#form_input .type input::placeholder {
    color: #A9A8A9;
}

#form_input .forgot {
    margin-bottom: 20px;
    font-weight: 500;
}

.bkg {
    background-color: #DF2727;
}

.bkg:hover {
    background-color: #EE3E3E;
}

